.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > Button {
  width: 300px;
  font-weight: 800;
  border: 1px solid rgba(26, 24, 24, 0.3);
  background-color: white;
  color: #2e81f4;
  transition: 0.3s;
}

.login > Button:hover {
  background-color: #2e81f4;
  color: #eff2f5;
}

.login > div > img {
  object-fit: contain;
  height: 150px;
}

.login > div {
  display: flex;
  flex-direction: column;
}
